.Button {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to bottom, #256874, #247D8C );
    -fx-background-radius: 50;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-style: italic;
}
.Button:pressed {
    -fx-background-color: linear-gradient(to bottom right, #66CCDE , #17A9C3 );
    -fx-text-fill: black;
}

.text-field, .password-field, .combo-box {
    -fx-padding: 8px;
    -fx-border-color: #ced4da;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.label {
    -fx-text-fill: #495057;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-padding: 0 5px;
    -fx-alignment: top-right; /* Align labels to the right */
}

.error-label {
    -fx-text-fill: red !important;
}
.Combo-Box:hover
{
    -fx-background-color :#256874 ;
    -fx-border-color:  #FFFF;
    -fx-border-radius: 30;
}
.Combo-Box:pressed
{
    -fx-background-color :#256874 ;
    -fx-border-color:  #FFFF;
    -fx-border-radius: 30;
}