.Button {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to bottom, #256874, #247D8C );
    -fx-background-radius: 50;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-style: italic;
}
.Button:pressed {
    -fx-background-color: linear-gradient(to bottom right, #66CCDE , #17A9C3 );
    -fx-text-fill: black;
}

.label.error {
    -fx-text-fill: #e74c3c;
}
 